.board-header(fxLayout="row",fxLayoutAlign="center center")
	mat-form-field.mat-elevation-z6.category-dropdown
		mat-select(placeholder="Category", [(ngModel)]="selectedCategory", name="category",(change)="onCategoryChange($event)")
			mat-option(*ngFor="let category of searchCategories", [value]="category.value")
				| {{ category.viewValue }}
	.search-wrapper
		mat-form-field.search-bar.mat-elevation-z6([hideRequiredMarker]="false",floatLabel="Node ID")
			input('matInput'="",type="text", placeholder="Search for Filter, Operator, Switch, Condition, Merger or Latch",(keyup)="search($event)",[matAutocomplete]="auto")
		mat-autocomplete.search-autocomplete('#auto'="matAutocomplete")
			mat-option.search-autocomplete-option(*ngFor="let option of suggestions", [value]="option.get('name')",(click)="suggestionSelected(option)")
				p.search-autocomplete-option-text(fxLayout="row",fxLayoutAlign="space-between center")
					| {{ option.get('name') }}
					mat-chip-list
						mat-basic-chip([ngClass]="option.get('group')") {{ option.get('group') }}
		.search-icon
			mat-icon search
		//- input.search-bar.mat-elevation-z6(type="text", placeholder="Search for Enhancer, Constraint, Incentive or MBG",(keyup)="search($event)")
		//- .search-icon
		//-     mat-icon search
.main-area(fxLayout="row",fxLayoutAlign="space-between stretch")
	.left-main(fxLayout="column",fxLayoutAlign="center center")
		mat-card.node-detail-card
			mat-card-header
				div.detail-header-image('mat-card-avatar'="")
				mat-card-title {{ node.get('name') }}
				mat-card-subtitle
					mat-chip-list
						mat-basic-chip([ngClass]="node.get('group')") {{ node.get('group') }}
			//- blockquote
			//- 	pre
			//- 	code('mat-card-image'="")
			//- 		| Additiona details
			mat-card-content
				p
				| {{ node.get('description') }}
			mat-card-actions
	.right-main
		.fos-workflow-area#fos-workflow-area(*ngIf="!(isLoading$ | async) && (flowchart$ | async).size >0",(drop)="drop($event)", (dragover)="allowDrop($event)",fxLayout="column",fxLayoutAlign="center center")
		.placeholder-area(fxLayout="column",fxLayoutAlign="center center", *ngIf="!(isLoading$ | async) && (flowchart$ | async).size <=0")
			h1 No Flowchart found. Try searching...
		.loading-area(fxLayout="column",fxLayoutAlign="center center",*ngIf="isLoading$ | async")
			.scene
				img.car(src="./assets/images/car.png", alt="", width="50")
				img.poof(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/poof.svg", alt="",width="15")
				img.sign(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/sign.svg", alt="", width="15")
			span loading...
.action-bar(fxLayout="row",fxLayoutAlign="center center")
	span {{ actionbarHint }}
	.actionbar-btn-wrapper(fxLayout="row",fxLayoutAlign="start center")
		//- button.icon-add-node(*ngIf="actionBtnVisibility.node",'mat-mini-fab'="", (click)='openAddNodeDialog()')
		//-     mat-icon(matTooltip="Add Node", matTooltipPosition="above") timeline
		button.icon-add-edge(*ngIf="actionBtnVisibility.edge",(click)='addEdge()','mat-mini-fab'="")
			mat-icon(matTooltip="Add Edge", matTooltipPosition="above") timeline
		button.icon-action-back(*ngIf="actionBtnVisibility.back",'mat-mini-fab'="",(click)="back()")
			mat-icon(matTooltip="Back", matTooltipPosition="above") arrow_back
		button.icon-action-delete(*ngIf="actionBtnVisibility.delete",'mat-mini-fab'="",(click)="deleteSelected()")
			mat-icon(matTooltip="Delete selected", matTooltipPosition="above") delete
		button.icon-action-edit(*ngIf="actionBtnVisibility.edit",'mat-mini-fab'="",(click)="showFosNodeEditDialog()")
			mat-icon(matTooltip="Edit Selected node", matTooltipPosition="above") edit
	.actionbar-save-btn-wrapper(fxLayout="row",fxLayoutAlign="start center")
		button.icon-add-edge((click)='gotoBoard()','mat-mini-fab'="")
			mat-icon.previous(matTooltip="Save and Back", matTooltipPosition="above") arrow_back